.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color:  hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 5px;

}
.comment_info {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.comment_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.comment_header div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.comment_header div img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.comment_reply {
    width: 70px;
    height: 30px;
    border: none;
    color: white;
    background-color:hsl(238, 40%, 52%);
    border-radius: 5px;
    transition: all 0.2s ease-in;
    font-weight: 700;
}
.comment_reply:hover {
    cursor: pointer;
    background-color: hsl(239, 57%, 85%);
}

.comment_header p {
   color:   hsl(211, 10%, 45%);

}
.comment_message p {
    color:   hsl(211, 10%, 45%);

}

.btn_delete {
    color: hsl(358, 79%, 66%);
    border: none;
    background-color: transparent;
    font-size: 1.1rem;
}

.btn_delete:hover {
    color: hsl(357, 100%, 86%);
    cursor: pointer;
}
.btn_edit {
    color:  hsl(238, 40%, 52%) ;
    border: none;
    background-color: transparent;
    font-size: 1.1rem;
}
.btn_edit:hover {
    color: hsl(239, 57%, 85%);
    cursor: pointer;
}